body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

.alert-container {
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ff7f7f;
    border: 1px solid #ff4c4c;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  